
body {
	    background: #085078; /* fallback for old browsers */
		background: -webkit-linear-gradient(to left, #085078 , #85D8CE); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to left, #085078 , #85D8CE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a, a:hover {
	color:initial;
}

.m-t-1 {
	margin-top:1em;
}

.p-t-1 {
	padding-top:1em;
}

.homepageLogo {
	margin-bottom:20px;
}

.homepageSub {
	color:white;
	font-size:1.2em;
	text-align: center
}

#searchForm {
	text-align: center;
	/*margin-top: 40px;*/
}

.align-center {
	text-align:center;
}

.results-list {
	text-align:left;
}

.site-logo{
  max-width: 100px;
}

.ij-logo {
	background-color: black
}

#results {
	margin-top:50px;
  background: rgba(255,255,255,0.2);
  padding:25px;
  border-radius:5px;
}

.job-listing {
	border-bottom: 1px solid lightgrey;
	padding: 20px 5% !important;
}


.job-description {
	padding-left: 4%;
	position:relative;
}

.job-description .btn-group {
	float:right;
}

.job-description .btn {
	background: none;
  color: white;
  border:none;
  border-bottom:1px solid rgba(0,0,0,0);
  border-radius:0;
  transition: all 0.5s ease
}

.job-description .btn:hover {
	/*color:grey;*/
	background:none;
	color:white;
	border-bottom: 1px solid white;
}


.loadingDone {
	display: none;
}


