
body {
/*	background: #F2E9E4;*/
	/* fallback for old browsers */
	/*background: -webkit-linear-gradient(to left, #ef32d9, #89fffd);*/
	/* Chrome 10-25, Safari 5.1-6 */
	/*background: linear-gradient(to left, #ef32d9, #89fffd);*/
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/*	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;*/
}

h1, h2, h3, h4, h5{
	color:#4A4E69 !important;
	font-weight: 300
}

p {
	color: #4A4E69;
}

.profile-pic {
	box-shadow: 0px 4px 6px 2px grey;
  border-radius: 50%
}

.m-t-1 {
	margin-top:1em;
}

.p-t-1 {
	padding-top:1em;
}


.about-me {
	margin-top:25px;
}

.navbar-default {
	background-color: #C9ADA7;
	background: none;
	border: none;
	border-radius:0;
}

.row-header {
	background-color: lightgrey;
	-webkit-clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
	clip-path: polygon(0 8%, 100% 4%, 100% 96%, 0% 100%);
	padding: 65px 10px;
}

.work-item-row {
	/*padding: 10% 0;*/
}